{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if profile %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>{{ profile.user.username }}'s Profile</h1><br/>
            <br/>
            {% if posts %}
            {% for post in posts %}
            <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            {% if profile.profile_image %}
                            <img src="{{ profile.profile_image.url }}" width=100
                                 height=100 class="img-fluid"
                                 alt="{{ profile.user.username }}"/>
                            {% else %}
                            <img src="{% static 'profile.jpg' %}" width=100
                                 height=100 class="img-fluid"
                                 alt="{{ profile.user.username }}"/>
                            {% endif %}
                        </div>
                        <div class="col-10">

                            {{ post.body }}
                            <small class="text-muted">
                                ({{ post.created_at }}) By
                                @{{ post.user.username }}<br/>
                                {{ post.number_of_likes }} Likes -
                                {% if user in post.likes.all %}
                                <a href="{% url 'post_like' post.id %}">👎🏿</a>
                                {% else %}
                                <a href="{% url 'post_like' post.id %}">👍🏽</a>
                                {% endif %}
                                <a href="{% url 'post_show' post.id %}">share</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
            {% endif %}
        </div>

        <div class="col-4">
            <!-- Checking to see if user has a profile image -->
            {% if profile.profile_image %}
            <img class="img-fluid rounded mb-2" src="{{ profile.profile_image.url }}"
                 alt="profile image"/>
            {% endif %}
            {% if profile.homepage_link %}
            <a href="{{ profile.homepage_link }}" class="mx-2" target="new">
                <i class="fa-solid fa-link fa-beat"></i></a>
            {% endif %}
            {% if profile.facebook_link %}
            <a href="{{ profile.facebook_link }}" class="mx-2" target="new">
                <i class="fa-brands fa-facebook fa-beat"></i></a>
            {% endif %}
            {% if profile.instagram_link %}
            <a href="{{ profile.instagram_link }}" class="mx-2" target="new">
                <i class="fa-brands fa-instagram fa-beat"></i></a>
            {% endif %}
            {% if profile.linkedin_link %}
            <a href="{{ profile.linkedin_link }}" class="mx-2" target="new">
                <i class="fa-brands fa-linkedin fa-beat"></i></a>
            {% endif %}
            <br/><br/>
            <div class="card">
                <h5 class="card-header">Follows</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.follows.all %}
                        <a href="{% url 'profile' following.user.id %}">
                            @{{ following.user.username }}
                        </a><br/>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br/>
            <div class="card">
                <h5 class="card-header">Followed By</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        <a href="{% url 'profile' following.user.id %}">
                            @{{ following.user.username }}
                        </a><br/>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br/>

            <form method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow"
                        type="submit">
                    Unfollow @{{ profile.user.username }}
                </button>
                {% else %}
                <button class="btn btn-outline-primary" name="follow" value="follow"
                        type="submit">
                    follow @{{ profile.user.username }}
                </button>

                {% endif %}

            </form>
            <br/>
            {% if request.user.id == profile.user.id %}
            <a href="{% url 'update' %}" class="btn btn-secondary">Update Profile</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
